body {
  margin: 1% 10% 0 10%;
}

.header {
  text-align: center;
  border-bottom: 2px solid gray;
}

nav {
  text-align: center;
  margin-bottom: 1%;
}

nav a {
  margin: 3px;
  font-size: 18px;
  font-family: Verdana, sans-serif, Times;
}